<footer class="bg-dark text-center text-white">
    <!-- Grid container -->
    <div class="container p-4">
      <!-- Section: Social media -->
  
      <!-- Section: Form -->
  
      <!-- Section: Text -->
  
      <!-- Section: Links -->
      <section class="">
        <!--Grid row-->
        <div class="row">
          <!--Grid column-->
          <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">Nosotros</h5>
  
            <ul class="list-unstyled mb-0">
              <li>
                <span class="text-white">+569 731344234</span>
              </li>
              <li>
                <span href="#!" class="text-white">Hernan cortes 4412, Ñuñoa</span>
              </li>
              <li>
                <a href="#!" class="text-white">contacto@storage.cl</a>
              </li>
            </ul>
          </div>
          <!--Grid column-->
  
          <!--Grid column-->
          <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">Informacion</h5>
  
            <ul class="list-unstyled mb-0">
              <li>
                <a href="#!" class="text-white">Formas de pago</a>
              </li>
              <li>
                <a href="#!" class="text-white">Despacho</a>
              </li>
              <li>
                <a href="#!" class="text-white">Como comprar</a>
              </li>
              <li>
                <a href="#!" class="text-white">Legales</a>
              </li>
            </ul>
          </div>
          <!--Grid column-->
  
          <!--Grid column-->
          <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">Redes sociales</h5>
  
            <ul class="list-unstyled mb-0">
              <li>
                <img src="assets/img/gmail.png">
              </li>
              <li>
                <img src="assets/img/instagram.png">
              </li>
              <li>
                <img src="assets/img/twitter.png">
              </li>
              <li>
                <img src="assets/img/facebook.png">
              </li>
            </ul>
          </div>
          <!--Grid column-->
  
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </section>
      <!-- Section: Links -->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2020 Copyright:
      <a class="text-white" href="https://mdbootstrap.com/">Store</a>
    </div>
    <!-- Copyright -->
</footer>
